.explore{
    margin-top: 50px;
    @include container;
    .controls{
        .search{
            input{
                width:200px;
                padding: 5px 10px;
                bordeR:1 px solid #e3e3e3;
            }
        }
    }

}
